.Form{
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    margin-top: 50px;
    max-width: 45%;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 1px 4px 10px 2px rgba(0,0,0,.8);
}

.Form label{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.buttons:active{
    background-color: rgb(236, 244, 244);
}

.input__field{
    max-width: 95%;
    padding: 5px;
    font-size: 17px;
    font-weight: 100;
}