.to-do__title{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    max-width: 60%;
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
    background-color: aliceblue;
}

.to-do__container{
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    max-width: 40%;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

